<main>

  <div id='calendar'></div>

  <div class="events">
      <h1>{{title}}</h1>
      {{#each events}}
        <div class="eventinfo">
            <h3 class="eventTitle"><strong>{{this.title}}</strong></h3>
            <p>{{this.description}}</p>
            <p>{{this.date}}</p>
            <p>{{this.time}}</p>
            <p class="eventImportance"><strong>Improtance:</strong></p>
            <span class="badge" style="color: black; background-color: {{this.importance}};">
              {{importanceLabel this.importance}}
            </span><br><br>

          <div class="eventButtons">
            <form action="/events/{{this._id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger" aria-label="Delete event {{this.title}}">Delete</button>
            </form>
                       
            <button 
                type="button" 
                class="open-edit-modal btn btn-default" 
                data-toggle="modal" 
                data-target="#editModal"
                data-id="{{this._id}}"
                data-title="{{this.title}}"
                data-start="{{this.start}}"
                data-end="{{this.end}}"
                data-description="{{this.description}}"
                data-importance="{{this.importance}}"
            >
                Edit
            </button>
          </div>


        </div>
      {{/each}}
  </div>

<!-- Create Event Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create an Event</h4>
        </div>

        <div class="modal-body">
          <form action="/events" method="POST">
            <label>Event Title</label>
            <input name="title" type="text" placeholder="Title" required>
            
            <!-- Date and Time -->
            <label>Start Date</label>
            <input name="start" type="datetime-local" required>

            <label>End Date</label>
            <input name="end" type="datetime-local">
            
            <label>More Details</label>
            <textarea name="description" placeholder="Description"></textarea>
            
            <!-- Importance color selection -->
            <label>Importance:</label>
            <select name="importance">
              <option value="lightgreen">Low</option>
              <option value="yellow">Medium</option>
              <option value="lightcoral">High</option>
            </select>
            
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


<!-- Edit an Event Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit an Event</h4>
        </div>

        <div class="modal-body">
          <form id="editEventForm" method="POST">
            <input type="hidden" name="_method" value="PUT">
            
            <label>Event Title</label>
            <input name="title" id="edit-title" type="text" placeholder="Title" required>
            
            <!-- Date and Time -->
            <label>Start Date</label>
            <input name="start" id="edit-start" type="datetime-local" required>

            <label>End Date</label>
            <input name="end" id="edit-end" type="datetime-local">
            
            <label>More Details</label>
            <textarea name="description" id="edit-description" placeholder="Description"></textarea>
            
            <!-- Importance color selection -->
            <label>Importance:</label>
            <select name="importance" id="edit-importance">
              <option value="lightgreen">Low</option>
              <option value="yellow">Medium</option>
              <option value="lightcoral">High</option>
            </select>
            
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  
</main>
